@use '@assets/styles/vars/colors';

.doctorsDetail {
  padding-bottom: 75px;
  background-color: colors.$additionalColor;
}

@media (min-width: 768px) and (max-width: 992px) {
  .doctorsDetail {
    padding-bottom: 55px;
  }
}

@media (max-width: 768px) {
  .doctorsDetail {
    padding-bottom: 40px;
  }
}
