@use '@assets/styles/vars/colors';

.doctorsContainer {
  padding-top: 70px;
  background-color: colors.$additionalColor;

  .titleWrapper {
    display: flex;
    justify-content: space-between;
  }

  .title {
    color: colors.$mainTextColor;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.2px;
  }

  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 36%;


    &::before {
      position: absolute;
      left: 12px;
      content: url("@assets/img/doctors/search.svg");
      width: 24px;
      height: 24px;
      opacity: 0.7;
    }
  }

  .input {
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 52px;
    background: colors.$whiteColor;
    border-radius: 60px;
    border: 1px solid colors.$whiteColor;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: colors.$mainColor;
    width: 100%;

    &::placeholder {
      color: colors.$mainColor;
      opacity: .6;
    }
  }


  .doctorsCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
    padding: 30px 0 150px 0;

    .employeesSlider {
      //padding: 75px 0;
      background-color: colors.$additionalColor;
      overflow: hidden;

      > div {
        row-gap: 40px;
      }

      .swiper {
        overflow: visible;
      }


      &Slide {
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        max-height: 530px;
        max-width: 422px;

        .photo {
          width: 100%;
          height: 100%;
          user-select: none;
          border-radius: 35px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
          }
        }

        .info {
          min-height: 205px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 30px 30px 0 0;
          padding: 30px;
          background-color: colors.$whiteColor;
          //row-gap: 20px;

          &Text {
            row-gap: 6px;

            &Name {
              color: colors.$mainTextColor;
              font-size: 24px;
              font-weight: 600;
              line-height: 120%;
              letter-spacing: -0.48px;
            }

            &Position {
              color: colors.$mainColor;
              font-size: 18px;
              font-weight: 500;
              line-height: 130%;
            }

            &Price {
              color: colors.$mainColor;
              font-size: 14px;
              font-weight: 500;
              line-height: 130%;
              padding-bottom: 22px;
            }

            &Badge {
              border-radius: 82px;
              background: colors.$additionalColor;
              padding: 4px 12px;
              align-self: start;
              color: colors.$mainColor;

              p {
                color: colors.$mainColor;
                font-size: 18px;
                font-weight: 500;
                line-height: 130%;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .doctorsContainer {
    padding-top: 60px;

    .doctorsCards {

      .employeesSlider {

        &Slide {

          .info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 30px 30px 0 0;
            padding: 30px;
            background-color: colors.$whiteColor;
            row-gap: 20px;

            &Text {
              row-gap: 6px;

              &Name {
                color: colors.$mainTextColor;
                font-size: 22px;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: -0.48px;
              }

              &Position {
                color: colors.$mainColor;
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
              }

              &Price {
                color: colors.$mainColor;
                font-size: 14px;
                font-weight: 500;
                line-height: 130%;
                padding-bottom: 22px;
              }

              &Badge {
                border-radius: 82px;
                background: colors.$additionalColor;
                padding: 4px 12px;
                font-size: 18px;
                font-weight: 500;
                color: colors.$mainColor;
                display: inline;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .doctorsContainer {
    padding-top: 50px;

    .title {
      font-size: 36px;
    }

    .inputWrapper {
      position: relative;
      display: flex;
      align-items: center;
      width: 60%;


      &::before {
        position: absolute;
        left: 12px;
        content: url("@assets/img/doctors/search.svg");
        width: 24px;
        height: 24px;
        opacity: 0.7;
      }
    }

    .doctorsCards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      padding: 30px 0 110px 0;

      .employeesSlider {

        > div {
          row-gap: 40px;
        }

        .swiper {
          overflow: visible;
        }


        &Slide {
          border-radius: 30px;
          overflow: hidden;
          position: relative;
          max-height: 540px;
          max-width: 422px;

          .photo {
            width: 100%;
            height: 100%;
            user-select: none;
            border-radius: 35px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: top;
            }
          }

          .info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 30px 30px 0 0;
            padding: 30px;
            background-color: colors.$whiteColor;
            row-gap: 20px;

            &Text {
              row-gap: 6px;

              &Name {
                color: colors.$mainTextColor;
                font-size: 22px;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: -0.48px;
              }

              &Position {
                color: colors.$mainColor;
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
              }

              &Price {
                color: colors.$mainColor;
                font-size: 14px;
                font-weight: 500;
                line-height: 130%;
                padding-bottom: 30px;
              }

              &Badge {
                border-radius: 82px;
                background: colors.$additionalColor;
                padding: 4px 12px;
                font-size: 16px;
                font-weight: 500;
                color: colors.$mainColor;
              }
            }

          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .doctorsContainer {
    padding-top: 30px;

    .titleWrapper {
      display: flex;
      justify-content: space-between;
    }

    .title {
      font-size: 24px;
    }

    .inputWrapper {
      content: url("@assets/img/doctors/search.svg");
      width: 24px;
      height: 24px;
    }

    .doctorsCards {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      padding: 30px 0 110px 0;

      .employeesSlider {

        > div {
          row-gap: 40px;
        }

        .swiper {
          overflow: visible;
        }


        &Slide {
          border-radius: 30px;
          overflow: hidden;
          position: relative;
          //max-height: 391px;
          max-width: 422px;

          .photo {
            width: 100%;
            height: 100%;
            user-select: none;
            border-radius: 35px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: top;
            }
          }

          .info {
            min-height: 150px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 30px 30px 0 0;
            padding: 20px;
            background-color: colors.$whiteColor;
            row-gap: 20px;

            &Text {
              row-gap: 6px;

              &Name {
                color: colors.$mainTextColor;
                font-size: 18px;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: -0.48px;
              }

              &Position {
                color: colors.$mainColor;
                font-size: 14px;
                font-weight: 500;
                line-height: 130%;
              }

              &Price {
                color: colors.$mainColor;
                font-size: 12px;
                font-weight: 500;
                line-height: 130%;
                padding-bottom: 10px;
              }

              &Badge {
                width: 100%;
                text-align: center;
                border-radius: 82px;
                background: colors.$additionalColor;
                padding: 4px 15px;
                font-size: 14px;
                font-weight: 500;
                color: colors.$mainColor;
              }
            }
          }
        }
      }
    }
  }
}


