

.mainServices {
  background-color: #2F3140;

  &Cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    padding: 74px 0 89px 0;
    color: #FFFFFF;
    gap: 20px;
    row-gap: 29px;

    //div:nth-of-type(n - 6) {
    //  grid-column: span 4;
    //}
    //
    //div:nth-last-of-type(n - 4) {
    //  grid-column: span 3;
    //}


    .cardWrapper {
      position: relative;
      background-color: #FFFFFF;
      border-radius: 20px;
      padding: 30px;
      height: 280px;
      max-width: 314px;
      overflow: hidden;

      .card {
        height: 100%;
        width: 100%;


        &Title {
          font-size: 24px;
          font-weight: 500;
          color: #111111;
        }

        &Text {
          font-size: 16px;
          font-weight: 400;
          color: #111111;
          opacity: 48%;
        }

        &Img {
          position: absolute;
          bottom: 0;
          right: 0;
          transition: transform 1s;
          border-radius: 20px;
        }

        &Img:hover {
          transform: translateX(-5%) scale(1.1);
        }
      }
    }
  }
}

@media (min-width: 1401px) and (max-width: 1919px) {
  .mainServices {

    &Cards {
      padding: 60px 0;
      color: #FFFFFF;
      gap: 20px;
      row-gap: 30px;

      .cardWrapper {
        position: relative;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 30px;
        height: 280px;
        max-width: 248px;
        overflow: hidden;

        .card {
          height: 100%;
          width: 100%;


          &Title {
            font-size: 24px;
            font-weight: 500;
            color: #111111;
          }

          &Text {
            font-size: 16px;
            font-weight: 400;
            color: #111111;
            opacity: 48%;
          }

          &Img {
            position: absolute;
            bottom: 0;
            right: 0;
            transition: transform 1s;
            border-radius: 20px;
            width: 248px;
          }

          &Img:hover {
            transform: translateX(-5%) scale(1.1);
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .mainServices {

    &Cards {
      grid-template-columns: repeat(3, 1fr);
      //grid-template-areas:
      //      "a a a ."
      //      "a a a ."
      //      "a a a a";
      padding: 50px 0;
      color: #FFFFFF;
      gap: 20px;
      row-gap: 30px;

      .cardWrapper {
        position: relative;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 30px;
        max-width: 426.66px;
        max-height: 260px;
        overflow: hidden;

        .card {
          height: 100%;
          width: 100%;


          &Title {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
          }

          &Text {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.52px;
            color: #111111;
            opacity: 48%;
          }

          &Img {
            position: absolute;
            bottom: 0;
            right: 0;
            transition: transform 1s;
            border-radius: 20px;
          }

          &Img:hover {
            transform: translateX(-5%) scale(1.1);
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .mainServices {

    &Cards {
      grid-template-columns: repeat(2, 1fr);
      //grid-template-areas:
      //      "a a a ."
      //      "a a a ."
      //      "a a a a";
      padding: 50px 0;
      color: #FFFFFF;
      gap: 10px;

      .cardWrapper {
        position: relative;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 20px;
        max-width: 426.66px;
        max-height: 160px;
        overflow: hidden;

        .card {
          height: 100%;
          width: 100%;


          &Title {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
          }

          &Text {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.52px;
            color: #111111;
            opacity: 48%;
          }

          &Img {
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 152px;
            max-height: 80px;
            transition: transform 1s;
            border-radius: 20px;
          }

          &Img:hover {
            transform: translateX(-5%) scale(1.1);
          }
        }
      }
    }
  }
}