.typesOfJob {
  background-color: #FFFFFF;

  &Information {
    padding: 50px 0 0 0;
    gap: 50px;

    &Title {
      font-size: 50px;
      font-weight: 500;
      color: #111111;
      line-height: 60px;
    }

    &Block {

      .cards {
        gap: 30px;
        row-gap: 40px;
        grid-template-columns: repeat(4, 1fr);

        .card {
          width: 390px;
          height: 274px;
          padding: 30px;
          gap: 14px;
          position: relative;
          background-color: #F1F1F1;
          border-radius: 20px;
          overflow: hidden;
          &Image {
            position: absolute;
            height: 274px;
            bottom: 0;
            right: 0;
            border-radius: 20px;
          }

          &Title {
            max-width: 200px;
            font-size: 24px;
            font-weight: 500;
            line-height: 31.2px;
            color: #111111;
          }

          //&Date {
          //  font-size: 16px;
          //  font-weight: 400;
          //  line-height: 19.52px;
          //  color: rgba(17, 17, 17, 0.48);
          //}
        }
      }
    }
  }
}

@media (min-width: 1400px) and (max-width: 1920px) {
  .typesOfJob {
    background-color: #FFFFFF;

    &Information {
      padding: 50px 0 0 0;
      gap: 50px;

      &Title {
        font-size: 50px;
        font-weight: 500;
        color: #111111;
        line-height: 60px;
      }

      &Block {

        .cards {
          gap: 20px;
          row-gap: 30px;
          grid-template-columns: repeat(3, 1fr);

          .card {
            width: 426.67px;
            height: 274px;
            padding: 30px;
            gap: 14px;
            position: relative;
            background-color: #F1F1F1;

            &Image {
              position: absolute;
              bottom: 0;
              right: 0;
              border-radius: 20px;
            }

            &Title {
              font-size: 24px;
              font-weight: 500;
              line-height: 31.2px;
              color: #111111;
            }

            //&Date {
            //  font-size: 16px;
            //  font-weight: 400;
            //  line-height: 19.52px;
            //  color: rgba(17, 17, 17, 0.48);
            //}
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .typesOfJob {
    background-color: #FFFFFF;

    &Information {
      padding: 50px 0 0 0;
      gap: 50px;

      &Title {
        font-size: 50px;
        font-weight: 500;
        color: #111111;
        line-height: 60px;
      }

      &Block {

        .cards {
          gap: 20px;
          row-gap: 30px;
          grid-template-columns: repeat(2, 1fr);

          .card {
            width: 470px;
            height: 274px;
            padding: 30px;
            gap: 14px;
            position: relative;
            background-color: #F1F1F1;

            &Image {
              position: absolute;
              bottom: 0;
              right: 0;
              border-radius: 20px;
            }

            &Title {
              font-size: 24px;
              font-weight: 500;
              line-height: 31.2px;
              color: #111111;
            }

            //&Date {
            //  font-size: 16px;
            //  font-weight: 400;
            //  line-height: 19.52px;
            //  color: rgba(17, 17, 17, 0.48);
            //}
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .typesOfJob {
    background-color: #FFFFFF;

    &Information {
      padding: 50px 0 0 0;
      gap: 30px;

      &Title {
        font-size: 32px;
        font-weight: 500;
        color: #111111;
        line-height: 38.4px;
      }

      &Block {

        .cards {
          gap: 10px;
          row-gap: 10px;
          grid-template-columns: repeat(2, 1fr);

          .card {
            width: 265px;
            height: 260px;
            padding: 26px;
            gap: 14px;
            position: relative;
            background-color: #F1F1F1;

            &Image {
              position: absolute;
              max-width: 192px;
              max-height: 216px;
              bottom: 0;
              right: 0;
              border-radius: 20px;
            }

            &Title {
              font-size: 24px;
              font-weight: 500;
              line-height: 31.2px;
              color: #111111;
            }

            //&Date {
            //  font-size: 16px;
            //  font-weight: 400;
            //  line-height: 19.52px;
            //  color: rgba(17, 17, 17, 0.48);
            //}
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .typesOfJob {
    background-color: #FFFFFF;

    &Information {
      padding: 25px 0 0 0;
      gap: 30px;

      &Title {
        font-size: 18px;
        font-weight: 500;
        color: #111111;
        line-height: 21.6px;
      }

      &Block {

        .cards {
          gap: 10px;
          row-gap: 10px;
          grid-template-columns: repeat(2, 1fr);

          .card {
            width: 145px;
            height: 140px;
            padding: 16px;
            gap: 14px;
            position: relative;
            background-color: #F1F1F1;

            &Image {
              position: absolute;
              max-width: 103px;
              max-height: 115px;
              bottom: 0;
              right: 0;
              border-radius: 20px;
            }

            &Title {
              font-size: 16px;
              font-weight: 500;
              line-height: 16.8px;
              color: #111111;
            }

            //&Date {
            //  font-size: 16px;
            //  font-weight: 400;
            //  line-height: 19.52px;
            //  color: rgba(17, 17, 17, 0.48);
            //}
          }
        }
      }
    }
  }
}