
.reviewsCard {
  width: 530px;
  height: 368px;
  background-color: #FFFFFF;
  gap: 20px;

  &Video {
    border-radius: 20px;
    //position: relative;

    &::after {
      content: url("/assets/img/reviews/play.svg");
      //position: absolute;
      //top: 50%;
      //left: 50%;
    }
  }

  &Text {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #111111;
  }
}

@media (min-width: 1400px) and (max-width: 1650px) {
  .reviewsCard {
    width: 426.67px;
    height: 276px;
    background-color: #FFFFFF;
    gap: 20px;

    &Video {
      border-radius: 20px;
      //position: relative;

      &::after {
        content: url("/assets/img/reviews/play.svg");
        //position: absolute;
        //top: 50%;
        //left: 50%;
      }
    }

    &Text {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      color: #111111;
    }
  }
}