
.reviewsCard {
  width: 530px;
  height: 368px;
  background-color: #FFFFFF;
  gap: 20px;
  position: relative;

  &Video {
    border-radius: 20px;
    //position: relative;
    z-index: 0;
  }

  &Text {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #111111;
  }

  &Play {
    cursor: pointer;
    position: absolute;
    width: 74px;
    height: 74px;
    top: 31%;
    left: 43%;
  }
}

@media (min-width: 1401px) and (max-width: 1919px) {
  .reviewsCard {
    width: 426.67px;
    height: 276px;
    background-color: #FFFFFF;
    gap: 20px;

    &Video {
      border-radius: 20px;
      //position: relative;
    }

    &Text {
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      color: #111111;
    }
    &Play {
      position: absolute;
      width: 74px;
      height: 74px;
      top: 31%;
      left: 41%;
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .reviewsCard {
    width: 306.67px;
    height: 190px;
    background-color: #FFFFFF;
    gap: 20px;

    &Video {
      border-radius: 20px;
      //position: relative;
    }

    &Text {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: #111111;
    }

    &Play {
      position: absolute;
      width: 74px;
      height: 74px;
      top: 31%;
      left: 41%;
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .reviewsCard {
    width: 260px;
    height: 164px;
    background-color: #FFFFFF;
    gap: 20px;

    &Video {
      border-radius: 20px;
    }

    &Text {
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      color: #111111;
    }
    &Play {
      position: absolute;
      width: 74px;
      height: 74px;
      top: 20%;
      left: 34%;
    }
  }
}

@media (max-width: 576px) {
  .reviewsCard {
    width: 222px;
    height: 136px;
    background-color: #FFFFFF;
    gap: 8px;

    &Video {
      border-radius: 20px;
      //position: relative;
    }

    &Text {
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      color: #111111;
    }

    &Play {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 32%;
      left: 42%;
    }
  }
}