
.loyaltyProgram {
  padding: 70px 0 70px 0;

  &Information {
    background-color: #2F3140;
    border-radius: 20px;
    width: 100%;
    min-height: 660px;
    gap: 130px;

    &Block {
      gap: 30px;
      color: #FFFFFF;
      max-width: 630px;

      h3 {
        font-size: 40px;
        font-weight: 500;
        line-height: 120%;
      }

      h6 {
        align-self: start;
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        border: 2px solid #FFFFFF;
        border-radius: 80px;
        padding: 10px 24px 10px 24px;
      }

      .ulList {

        p {
          font-size: 20px;
          font-weight: 700;
          line-height: 140%;
        }

        ul {
          gap: 10px;
        }

        li {
          font-size: 20px;
          font-weight: 400;
          line-height: 140%;
        }
      }

      .btn {
        padding: 9.5px 20px 9.5px 20px;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.2px;
        align-self: start;
      }
    }
  }
}

@media (min-width: 1400px) and (max-width: 1919.96px) {

  .loyaltyProgram {
    padding: 70px 0 70px 0;

    &Information {
      gap: 47px;

      &Block {
        max-width: 504px;

        .ulList {

          ul {
            gap: 10px;
          }

        }

        .btn {
          padding: 9.5px 20px 9.5px 20px;
          font-size: 18px;
          font-weight: 500;
          line-height: 25.2px;
          align-self: start;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .loyaltyProgram {
    padding: 70px 0 70px 0;

    &Information {
      padding: 30px;
      height: 632px;
      gap: 20px;

      img {
        width: 52%;
      }

      &Block {
        max-width: 418px;

        h3 {
          font-size: 32px;
        }

        .btn {
          padding: 9.5px 20px 9.5px 20px;
          font-size: 18px;
          font-weight: 500;
          line-height: 25.2px;
          align-self: start;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .loyaltyProgram {
    padding: 50px 0 50px 0;

    &Information {
      background-color: #2F3140;
      padding: 40px 30px 0 30px;
      border-radius: 20px;
      row-gap: 30px;

      img {
        width: 90%;
      }

      &Block {

        h3 {
          font-size: 32px;
        }

        .ulList {

          li {
            font-size: 16px;
          }
        }

        .btn {
          padding: 7px 16px 7px 16px;
          font-size: 16px;
          font-weight: 500;
          line-height: 22.4px;
          align-self: start;
        }
      }
    }
  }
}

@media (max-width: 575.96px) {
  .loyaltyProgram {
    padding: 25px 0 25px 0;

    &Information {
      background-color: #2F3140;
      padding: 30px 20px;
      border-radius: 20px;
      row-gap: 24px;

      img {
        width: 100%;
      }

      &Block {
        gap: 16px;

        h3 {
          font-size: 18px;
        }

        h6 {
          font-size: 12px;
          padding: 6px 16px 6px 16px;
        }

        .ulList {

          p {
            font-size: 14px;
          }

          ul {
            gap: 10px;
          }

          li {
            font-size: 14px;
          }
        }

        .btn {
          padding: 4px 12px 4px 12px;
          font-size: 14px;
          font-weight: 500;
          line-height: 19.6px;
          align-self: start;
        }
      }
    }
  }
}