
.usedCar {

  &Grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
    row-gap: 26px;

    &Image {
      width: 800px;
      row-gap: 20px;
      position: relative;
      //position: sticky;
      //top: 100px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 8;

      .swiperTop {

        .wrapper {
          max-width: 800px;
          max-height: 600px;

          img {
            width: 800px;
            height: 600px;
            border-radius: 20px;
            object-fit: cover;
          }
        }
      }

      .swiperBottom {
        max-width: 690px;
        padding-top: 20px;

        .wrapper {
          max-width: 133.2px;
          max-height: 100px;

          img {
            width: 133.2px;
            height: 100px;
            border-radius: 10px;
            object-fit: cover;
          }
        }

        .swiper-slide-thumb-active {
          border: 1px solid teal;
        }

      }
      //position: relative;
      //
      //.swiper {
      //  //width: 800px;
      //  //height: 100px;
      //  //z-index: 0;
      //}
      //
      .swiperArrow {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(-50%);
        top: 42%;
        border: none;
        background-color: #2F3140;
        border-radius: 4px;
        width: 46px;
        height: 44px;


        &Left {
          //left: -30px;
          left: 48px;
          top: 648px;
          transform: translateX(-100%);

          &::before {
            content: url('/assets/img/special-offer/arrow-left.svg');
            display: flex;
            width: 24px;
            height: 24px;
          }
        }

        &Right {
          //right: -30px;
          right: 48px;
          top: 648px;
          transform: translateX(100%);

          &::before {
            content: url('/assets/img/special-offer/arrow-right.svg');
            display: flex;
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    .card {
      gap: 26px;
      width: 560px;

      &Price {
        max-width: 560px;
        row-gap: 14px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        .name {
          font-size: 48px;
          font-weight: 500;
          line-height: 57.6px;
          color: #111111;
          margin-bottom: 0;
        }
        .priceBlock {
          gap: 14px;

          &Price {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.4px;
            color: #111111;
            margin-bottom: 0;
          }
          &Card {
            padding: 4px 10px 4px 10px;
            border-radius: 4px;
            background-color: rgba(42, 157, 143, 0.12);
            font-size: 14px;
            font-weight: 500;
            line-height: 19.6px;
            color: #2A9D8F;


          }
        }
        .buttons {
          gap: 14px;

          .btn {
            gap: 10px;
          }
        }
      }

      &Characteristics {
        max-width: 560px;
        row-gap: 14px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;


        .name {
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          color: #111111;
          margin-bottom: 0;
        }
        .columns {
          grid-template-columns: repeat(2, 1fr);

          .column1 {
            row-gap: 14px;

            .col1 {
              font-size: 20px;
              font-weight: 400;
              line-height: 28px;
              color: #6B6B6B;
            }
          }
          .column2 {
            row-gap: 14px;

            .col2 {
              font-size: 20px;
              font-weight: 500;
              line-height: 28px;
              color: #111111;
              margin-bottom: 0;
            }
          }
        }
      }
      &Report {
        max-width: 560px;
        row-gap: 14px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;

        .name {
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          color: #111111;
          margin-bottom: 0;
        }
        .cards {
          gap: 10px;

          .card {
            width: fit-content;
            padding: 11.5px 20px 11.5px 20px;
            border-radius: 4px;
            background-color: rgba(42, 157, 143, 0.18);
            gap: 10px;

            .icon {

            }
            .text {

            }
          }
        }
      }

      &Comment {
        max-width: 560px;
        row-gap: 14px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;

        .name {
          font-size: 20px;
          font-weight: 500;
          line-height: 28px;
          color: #111111;
          margin-bottom: 0;
        }

        .comment {
          font-size: 16px;
          font-weight: 400;
          line-height: 19.52px;
          color: #6B6B6B;
        }
      }

      &Contacts {
        max-width: 560px;
        row-gap: 14px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;

        .name {
          font-size: 20px;
          font-weight: 500;
          line-height: 28px;
          color: #111111;
          margin-bottom: 0;
        }
        .group {
          row-gap: 6px;

          .address {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.52px;
            color: #6B6B6B;
            gap: 10px;

            &::before {
              content: url("/assets/img/used-car/location.svg");
            }
          }
          .number {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.52px;
            color: #6B6B6B;
            padding-left: 34px;
          }
        }
      }

      &Equipment {
        max-width: 560px;
        row-gap: 10px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;

        .name {
          font-size: 40px;
          font-weight: 500;
          line-height: 48px;
          color: #111111;
          margin-bottom: 0;
        }
      }

      &Benefit {
        max-width: 560px;
        height: 292px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
        row-gap: 20px;

        .name {
          font-size: 40px;
          font-weight: 500;
          line-height: 48px;
          color: #111111;
          margin-bottom: 0;
        }

        .content {
          row-gap: 20px;

          .cardsGroup {
            gap: 20px;

            .credit {
              padding: 24px 20px 24px 20px;
              gap: 10px;
              border-radius: 10px;
              background-color: #F4F5F7;

              img {
                max-width: 50px;
                max-height: 50px;
              }
              .text {
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                color: #111111;
                margin-bottom: 0;
                text-align: center;
              }
            }

            .exchange {
              padding: 24px 20px 24px 20px;
              gap: 10px;
              border-radius: 10px;
              background-color: #F4F5F7;

              img {
                max-width: 50px;
                max-height: 50px;
              }
              .text {
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                color: #111111;
                margin-bottom: 0;
                text-align: center;
              }
            }
          }
        }
      }
    }


  }


  //&Description {
  //  width: 760px;



  //}
}

@media (min-width: 1401px) and (max-width: 1919px) {
  .usedCar {

    &Grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      row-gap: 26px;

      &Image {
        width: 708px;
        row-gap: 20px;
        position: relative;

        .swiperTop {

          .wrapper {
            max-width: 800px;
            max-height: 600px;

            img {
              max-width: 708px;
              height: 540px;
              border-radius: 20px;
            }
          }
        }

        .swiperBottom {
          max-width: 598px;
          padding-top: 20px;

          .wrapper {
            max-width: 114.8px;
            max-height: 100px;

            img {
              width: 114.8px;
              height: 100px;
              border-radius: 10px;
            }
          }

          .swiper-slide-thumb-active {
            border: 1px solid teal;
          }

        }
        //position: relative;
        //
        //.swiper {
        //  //width: 800px;
        //  //height: 100px;
        //  //z-index: 0;
        //}
        //
        .swiperArrow {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          transform: translateY(-50%);
          top: 42%;
          border: none;
          background-color: #2F3140;
          border-radius: 4px;
          width: 46px;
          height: 44px;


          &Left {
            //left: -30px;
            left: 48px;
            top: 590px;
            transform: translateX(-100%);

            &::before {
              content: url('/assets/img/special-offer/arrow-left.svg');
              display: flex;
              width: 24px;
              height: 24px;
            }
          }

          &Right {
            //right: -30px;
            right: 48px;
            top: 590px;
            transform: translateX(100%);

            &::before {
              content: url('/assets/img/special-offer/arrow-right.svg');
              display: flex;
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .card {
        gap: 26px;

        &Price {
          row-gap: 14px;

          .name {
            font-size: 48px;
            font-weight: 500;
            line-height: 57.6px;
            color: #111111;
            margin-bottom: 0;
          }
          .priceBlock {
            gap: 14px;

            &Price {
              font-size: 32px;
              font-weight: 500;
              line-height: 38.4px;
              color: #111111;
              margin-bottom: 0;
            }
            &Card {
              padding: 4px 10px 4px 10px;
              border-radius: 4px;
              background-color: rgba(42, 157, 143, 0.12);
              font-size: 14px;
              font-weight: 500;
              line-height: 19.6px;
              color: #2A9D8F;


            }
          }
          .buttons {
            gap: 14px;

            .btn {
              gap: 10px;
            }
          }
        }

        &Characteristics {
          row-gap: 14px;


          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
            margin-bottom: 0;
          }
          .columns {
            grid-template-columns: repeat(2, 1fr);

            .column1 {
              row-gap: 14px;

              .col1 {
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                color: #6B6B6B;
              }
            }
            .column2 {
              row-gap: 14px;

              .col2 {
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                color: #111111;
                margin-bottom: 0;
              }
            }
          }
        }
        &Report {
          row-gap: 14px;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
            margin-bottom: 0;
          }
          .cards {
            gap: 10px;

            .card {
              width: fit-content;
              padding: 11.5px 20px 11.5px 20px;
              border-radius: 4px;
              background-color: rgba(42, 157, 143, 0.18);
              gap: 10px;

              .icon {

              }
              .text {

              }
            }
          }
        }

        &Comment {
          row-gap: 14px;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            color: #111111;
            margin-bottom: 0;
          }

          .comment {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.52px;
          }
        }

        &Contacts {
          row-gap: 14px;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            color: #111111;
            margin-bottom: 0;
          }
          .group {
            row-gap: 6px;

            .address {
              font-size: 16px;
              font-weight: 400;
              line-height: 19.52px;
              gap: 10px;

              &::before {
                content: url("/assets/img/used-car/location.svg");
              }
            }
            .number {
              font-size: 16px;
              font-weight: 400;
              line-height: 19.52px;
              padding-left: 34px;
            }
          }
        }

        &Equipment {
          row-gap: 10px;

          .name {
            font-size: 40px;
            font-weight: 500;
            line-height: 48px;
            color: #111111;
            margin-bottom: 0;
          }
        }

        &Benefit {
          max-width: 560px;
          height: 292px;

          .name {
            font-size: 40px;
            font-weight: 500;
            line-height: 48px;
            color: #111111;
            margin-bottom: 0;
          }

          .content {
            row-gap: 20px;

            .cardsGroup {
              gap: 20px;

              .credit {
                padding: 24px 20px 24px 20px;
                gap: 10px;

                img {
                  max-width: 50px;
                  max-height: 50px;
                }
                .text {
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 24px;
                  color: #111111;
                  margin-bottom: 0;
                  text-align: center;
                }
              }

              .exchange {
                padding: 24px 20px 24px 20px;
                gap: 10px;

                img {
                  max-width: 50px;
                  max-height: 50px;
                }
                .text {
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 24px;
                  color: #111111;
                  margin-bottom: 0;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .usedCar {

    &Grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      row-gap: 26px;

      &Image {
        width: 468px;
        row-gap: 20px;
        position: relative;

        .swiperTop {

          .wrapper {
            max-width: 468px;
            max-height: 600px;

            img {
              max-width: 468px;
              height: 360px;
              border-radius: 20px;
            }
          }
        }

        .swiperBottom {
          max-width: 358px;
          padding-top: 20px;

          .wrapper {
            max-width: 66.8px;
            max-height: 50px;

            img {
              width: 66.8px;
              height: 50px;
              border-radius: 10px;
            }
          }

          .swiper-slide-thumb-active {
            border: 1px solid teal;
          }

        }
        //position: relative;
        //
        //.swiper {
        //  //width: 800px;
        //  //height: 100px;
        //  //z-index: 0;
        //}
        //
        .swiperArrow {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          transform: translateY(-50%);
          top: 42%;
          border: none;
          background-color: #2F3140;
          border-radius: 4px;
          width: 46px;
          height: 44px;


          &Left {
            //left: -30px;
            left: 48px;
            top: 383px;
            transform: translateX(-100%);

            &::before {
              content: url('/assets/img/special-offer/arrow-left.svg');
              display: flex;
              width: 24px;
              height: 24px;
            }
          }

          &Right {
            //right: -30px;
            right: 48px;
            top: 383px;
            transform: translateX(100%);

            &::before {
              content: url('/assets/img/special-offer/arrow-right.svg');
              display: flex;
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .card {
        width: 470px;
        gap: 26px;

        &Price {
          row-gap: 14px;

          .name {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.4px;
            color: #111111;
            margin-bottom: 0;
          }
          .priceBlock {
            gap: 14px;

            &Price {
              font-size: 24px;
              font-weight: 500;
              line-height: 31.2px;
              color: #111111;
              margin-bottom: 0;
            }
            &Card {
              padding: 4px 10px 4px 10px;
              border-radius: 4px;
              background-color: rgba(42, 157, 143, 0.12);
              font-size: 14px;
              font-weight: 500;
              line-height: 19.6px;
              color: #2A9D8F;


            }
          }
          .buttons {
            gap: 14px;

            .btn {
              gap: 10px;
            }
          }
        }

        &Characteristics {
          row-gap: 14px;


          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
            margin-bottom: 0;
          }
          .columns {
            grid-template-columns: repeat(2, 1fr);

            .column1 {
              row-gap: 14px;

              .col1 {
                font-size: 16px;
                font-weight: 400;
                line-height: 19.52px;
                color: #6B6B6B;
              }
            }
            .column2 {
              row-gap: 14px;

              .col2 {
                font-size: 16px;
                font-weight: 500;
                line-height: 19.52px;
                color: #111111;
                margin-bottom: 0;
              }
            }
          }
        }
        &Report {
          row-gap: 14px;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
            margin-bottom: 0;
          }
          .cards {
            gap: 10px;

            .card {
              width: fit-content;
              padding: 8px 14px 8px 14px;
              border-radius: 4px;
              background-color: rgba(42, 157, 143, 0.18);
              gap: 10px;

              .icon {

              }
              .text {

              }
            }
          }
        }

        &Comment {
          row-gap: 14px;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            color: #111111;
            margin-bottom: 0;
          }

          .comment {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.52px;
          }
        }

        &Contacts {
          row-gap: 14px;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            color: #111111;
            margin-bottom: 0;
          }
          .group {
            row-gap: 6px;

            .address {
              font-size: 16px;
              font-weight: 400;
              line-height: 19.52px;
              gap: 10px;

              &::before {
                content: url("/assets/img/used-car/location.svg");
              }
            }
            .number {
              font-size: 16px;
              font-weight: 400;
              line-height: 19.52px;
              padding-left: 34px;
            }
          }
        }

        &Equipment {
          row-gap: 10px;

          .name {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.4px;
            color: #111111;
            margin-bottom: 0;
          }
        }

        &Benefit {
          max-width: 470px;
          height: 278px;

          .name {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.4px;
            color: #111111;
            margin-bottom: 0;
          }

          .content {
            row-gap: 20px;

            .cardsGroup {
              gap: 20px;

              .credit {
                width: 225px;
                padding: 24px 10px 24px 10px;
                gap: 10px;

                img {
                  max-width: 50px;
                  max-height: 50px;
                }
                .text {
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 21.6px;
                  color: #111111;
                  margin-bottom: 0;
                  text-align: center;
                }
              }

              .exchange {
                width: 225px;
                padding: 24px 10px 24px 10px;
                gap: 10px;

                img {
                  max-width: 50px;
                  max-height: 50px;
                }
                .text {
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 21.6px;
                  color: #111111;
                  margin-bottom: 0;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .usedCar {

    &Grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
      row-gap: 26px;

      &Image {
        width: 540px;
        row-gap: 20px;
        position: relative;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        .swiperTop {

          .wrapper {
            max-width: 540px;
            max-height: 370px;

            img {
              max-width: 540px;
              height: 370px;
              border-radius: 10px;
            }
          }
        }

        .swiperBottom {
          max-width: 430px;
          padding-top: 20px;

          .wrapper {
            max-width: 81.2px;
            max-height: 50px;

            img {
              width: 81.2px;
              height: 50px;
              border-radius: 4px;
            }
          }

          .swiper-slide-thumb-active {
            border: 1px solid teal;
          }

        }
        //position: relative;
        //
        //.swiper {
        //  //width: 800px;
        //  //height: 100px;
        //  //z-index: 0;
        //}
        //
        .swiperArrow {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          transform: translateY(-50%);
          top: 42%;
          border: none;
          background-color: #2F3140;
          border-radius: 4px;
          width: 46px;
          height: 44px;


          &Left {
            //left: -30px;
            left: 48px;
            top: 392px;
            transform: translateX(-100%);

            &::before {
              content: url('/assets/img/special-offer/arrow-left.svg');
              display: flex;
              width: 24px;
              height: 24px;
            }
          }

          &Right {
            //right: -30px;
            right: 48px;
            top: 392px;
            transform: translateX(100%);

            &::before {
              content: url('/assets/img/special-offer/arrow-right.svg');
              display: flex;
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .card {
        width: 470px;
        gap: 26px;

        &Price {
          row-gap: 14px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;

          .name {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.4px;
            color: #111111;
            margin-bottom: 0;
          }
          .priceBlock {
            gap: 14px;

            &Price {
              font-size: 24px;
              font-weight: 500;
              line-height: 31.2px;
              color: #111111;
              margin-bottom: 0;
            }
            &Card {
              padding: 4px 10px 4px 10px;
              border-radius: 4px;
              background-color: rgba(42, 157, 143, 0.12);
              font-size: 14px;
              font-weight: 500;
              line-height: 19.6px;
              color: #2A9D8F;


            }
          }
          .buttons {
            gap: 14px;

            .btn {
              gap: 10px;
            }
          }
        }

        &Characteristics {
          row-gap: 14px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 3;
          grid-row-end: 4;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
            margin-bottom: 0;
          }
          .columns {
            grid-template-columns: repeat(2, 1fr);

            .column1 {
              row-gap: 14px;

              .col1 {
                font-size: 16px;
                font-weight: 400;
                line-height: 19.52px;
                color: #6B6B6B;
              }
            }
            .column2 {
              row-gap: 14px;

              .col2 {
                font-size: 16px;
                font-weight: 500;
                line-height: 19.52px;
                color: #111111;
                margin-bottom: 0;
              }
            }
          }
        }
        &Report {
          row-gap: 14px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 4;
          grid-row-end: 5;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
            margin-bottom: 0;
          }
          .cards {
            gap: 10px;

            .card {
              width: fit-content;
              padding: 8px 14px 8px 14px;
              border-radius: 4px;
              background-color: rgba(42, 157, 143, 0.18);
              gap: 10px;

              .icon {

              }
              .text {

              }
            }
          }
        }

        &Comment {
          row-gap: 14px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 5;
          grid-row-end: 6;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            color: #111111;
            margin-bottom: 0;
          }

          .comment {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.52px;
          }
        }

        &Contacts {
          row-gap: 14px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 6;
          grid-row-end: 7;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            color: #111111;
            margin-bottom: 0;
          }
          .group {
            row-gap: 6px;

            .address {
              font-size: 16px;
              font-weight: 400;
              line-height: 19.52px;
              gap: 10px;

              &::before {
                content: url("/assets/img/used-car/location.svg");
              }
            }
            .number {
              font-size: 16px;
              font-weight: 400;
              line-height: 19.52px;
              padding-left: 34px;
            }
          }
        }

        &Equipment {
          row-gap: 10px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 7;
          grid-row-end: 8;

          .name {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.4px;
            color: #111111;
            margin-bottom: 0;
          }
        }

        &Benefit {
          max-width: 470px;
          height: 278px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 8;
          grid-row-end: 9;

          .name {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.4px;
            color: #111111;
            margin-bottom: 0;
          }

          .content {
            row-gap: 20px;

            .cardsGroup {
              gap: 20px;

              .credit {
                width: 225px;
                padding: 24px 10px 24px 10px;
                gap: 10px;

                img {
                  max-width: 50px;
                  max-height: 50px;
                }
                .text {
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 21.6px;
                  color: #111111;
                  margin-bottom: 0;
                  text-align: center;
                }
              }

              .exchange {
                width: 225px;
                padding: 24px 10px 24px 10px;
                gap: 10px;

                img {
                  max-width: 50px;
                  max-height: 50px;
                }
                .text {
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 21.6px;
                  color: #111111;
                  margin-bottom: 0;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .usedCar {

    &Grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
      row-gap: 26px;

      &Image {
        width: 300px;
        row-gap: 20px;
        position: relative;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        .swiperTop {

          .wrapper {
            max-width: 300px;
            max-height: 220px;

            img {
              max-width: 300px;
              height: 220px;
              border-radius: 10px;
            }
          }
        }

        .swiperBottom {
          max-width: 300px;
          padding-top: 10px;

          .wrapper {
            max-width: 56.8px;
            max-height: 40px;

            img {
              width: 56.8px;
              height: 40px;
              border-radius: 4px;
            }
          }

          .swiper-slide-thumb-active {
            border: 1px solid teal;
          }

        }
        //position: relative;
        //
        //.swiper {
        //  //width: 800px;
        //  //height: 100px;
        //  //z-index: 0;
        //}
        //
        .swiperArrow {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          transform: translateY(-50%);
          top: 42%;
          border: none;
          background-color: #2F3140;
          border-radius: 4px;
          width: 46px;
          height: 44px;


          &Left {
            //left: -30px;
            left: 48px;
            top: 392px;
            transform: translateX(-100%);

            &::before {
              content: url('/assets/img/special-offer/arrow-left.svg');
              display: flex;
              width: 24px;
              height: 24px;
            }
          }

          &Right {
            //right: -30px;
            right: 48px;
            top: 392px;
            transform: translateX(100%);

            &::before {
              content: url('/assets/img/special-offer/arrow-right.svg');
              display: flex;
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .card {
        width: 470px;
        gap: 26px;

        &Price {
          max-width: 300px;
          row-gap: 14px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;

          .name {
            font-size: 24px;
            font-weight: 500;
            line-height: 31.2px;
            color: #111111;
            margin-bottom: 0;
          }
          .priceBlock {
            gap: 14px;

            &Price {
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              color: #111111;
              margin-bottom: 0;
            }
            &Card {
              padding: 4px 10px 4px 10px;
              border-radius: 4px;
              background-color: rgba(42, 157, 143, 0.12);
              font-size: 12px;
              font-weight: 500;
              line-height: 16.8px;
              color: #2A9D8F;


            }
          }
          .buttons {
            gap: 14px;

            .btn {
              gap: 10px;
              padding: 6px 12px;
            }
          }
        }

        &Characteristics {
          max-width: 300px;
          row-gap: 12px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 3;
          grid-row-end: 4;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
            margin-bottom: 0;
          }
          .columns {
            grid-template-columns: repeat(2, 1fr);

            .column1 {
              row-gap: 12px;

              .col1 {
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                color: #6B6B6B;
              }
            }
            .column2 {
              row-gap: 12px;

              .col2 {
                font-size: 14px;
                font-weight: 500;
                line-height: 16.8px;
                color: #111111;
                margin-bottom: 0;
              }
            }
          }
        }
        &Report {
          max-width: 300px;
          row-gap: 12px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 4;
          grid-row-end: 5;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
            margin-bottom: 0;
          }
          .cards {
            gap: 10px;

            .card {
              width: fit-content;
              padding: 6px 10px 6px 10px;
              border-radius: 4px;
              background-color: rgba(42, 157, 143, 0.18);
              gap: 10px;

              .icon {
                width: 24px;
                height: 24px;
              }
              .text {
                font-size: 14px;
                font-weight: 500;
                line-height: 19.6px;
                color: #111111;
              }
            }
          }
        }

        &Comment {
          max-width: 300px;
          row-gap: 12px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 5;
          grid-row-end: 6;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            color: #111111;
            margin-bottom: 0;
          }

          .comment {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
          }
        }

        &Contacts {
          max-width: 300px;
          row-gap: 12px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 6;
          grid-row-end: 7;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            color: #111111;
            margin-bottom: 0;
          }
          .group {
            row-gap: 6px;

            .address {
              font-size: 14px;
              font-weight: 400;
              line-height: 16.8px;
              gap: 10px;

              &::before {
                content: url("/assets/img/used-car/location.svg");
              }
            }
            .number {
              font-size: 14px;
              font-weight: 400;
              line-height: 16.8px;
              padding-left: 34px;
            }
          }
        }

        &Equipment {
          max-width: 300px;
          row-gap: 10px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 7;
          grid-row-end: 8;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
            margin-bottom: 0;
          }
        }

        &Benefit {
          max-width: 300px;
          height: 235px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 8;
          grid-row-end: 9;
          row-gap: 12px;

          .name {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
            margin-bottom: 0;
          }

          .content {
            row-gap: 12px;

            .cardsGroup {
              gap: 10px;

              .credit {
                width: 145px;
                padding: 20px 10px;
                gap: 10px;

                img {
                  max-width: 30px;
                  max-height: 30px;
                }
                .text {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 19.6px;
                  color: #111111;
                  margin-bottom: 0;
                  text-align: center;
                }
              }

              .exchange {
                width: 145px;
                padding: 20px 10px;
                gap: 10px;

                img {
                  max-width: 30px;
                  max-height: 30px;
                }
                .text {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 19.6px;
                  color: #111111;
                  margin-bottom: 0;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
