
.benefits {
  padding: 140px 0;
  background-color: #EEF0F3B2;

  &Wrapper {
    gap: 30px;

    &Description {
      width: 530px;
      row-gap: 30px;

      &Title {
        font-size: 48px;
        font-weight: 500;
        line-height: 57.6px;
        color: #111111;
      }

      &Text {
        max-width: 420px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        color: #111111;
      }

      .btn {
        padding: 9.5px 20px 9.5px 20px;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.2px;
        align-self: start;
      }
    }

    &Cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      row-gap: 30px;

      &Card {
        width: 390px;
        height: 216px;
        border-radius: 20px;
        padding: 30px;
        row-gap: 6px;
        background-color: #FFFFFF;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.03);

        .group {
          row-gap: 20px;

          .image {
            width: 40px;
            height: 40px;
          }

          .title {
            max-width: 260px;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
          }
        }

        .text {
          max-width: 260px;
          font-size: 16px;
          font-weight: 400;
          line-height: 20.8px;
          color: #1111117A;
        }
      }
    }
  }
}

@media (min-width: 1400px) and (max-width: 1920px) {
  .benefits {

    &Wrapper {

      &Description {
        width: 480px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .benefits {

    &Wrapper {
      gap: 20px;

      &Description {
        width: 420px;
      }

      &Cards {
        gap: 20px;
        row-gap: 20px;

        &Card {
          width: 250px;
          height: 243px;

          .group {

            .title {
              max-width: 190px;
              font-size: 18px;
              line-height: 21.6px;
            }
          }

          .text {
            max-width: 190px;
            font-size: 14px;
            line-height: 16.8px;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {

  .benefits {
    padding: 100px 0;

    &Wrapper {
      row-gap: 40px;

      &Description {
        width: 540px;
        row-gap: 20px;

        &Title {
          font-size: 32px;
          line-height: 38.4px;
        }

        &Text {
          max-width: 540px;
          font-size: 14px;
          line-height: 16.8px;
        }
      }

      &Cards {
        gap: 20px;
        row-gap: 20px;

        &Card {
          width: 260px;
          height: 226px;

          .group {
            row-gap: 20px;

            .title {
              max-width: 200px;
              font-size: 18px;
              line-height: 21.6px;
            }
          }

          .text {
            max-width: 200px;
            font-size: 14px;
            line-height: 16.8px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .benefits {
    padding: 40px 0;

    &Wrapper {
      row-gap: 20px;

      &Description {
        width: 300px;
        row-gap: 16px;

        &Title {
          font-size: 18px;
          line-height: 21.6px;
        }

        &Text {
          max-width: 300px;
          font-size: 12px;
          line-height: 15.6px;
        }

        .btn {
          padding: 4px 12px 4px 12px;
          font-size: 14px;
          line-height: 19.6px;
        }
      }

      &Cards {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;

        &Card {
          width: 300px;
          height: 122px;
          border-radius: 14px;
          padding: 20px;
          row-gap: 10px;

          .group {
            gap: 14px;

            .image {
              width: 30px;
              height: 30px;
            }

            .title {
              max-width: 216px;
              font-size: 14px;
              line-height: 19.6px;
            }
          }

          .text {
            max-width: 260px;
            font-size: 12px;
            line-height: 15.6px;
          }
        }
      }
    }
  }
}