
.events {
  background-color: #FFFFFF;

  &Information {
    padding: 50px 0 150px 0;
    gap: 50px;

    &Title {
      font-size: 50px;
      font-weight: 500;
      color: #111111;
      line-height: 60px;
    }

    &Block {
      gap: 25px;

      .cards {
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);

        .card {
          max-width: 390px;
          gap: 20px;
          display: none;

          &:nth-of-type(-n+3) {
            display: block;
          }

          &Image {
            max-width: 390px;
            max-height: 258px;
            border-radius: 20px;
          }

          &Title {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
          }

          &Date {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.52px;
            color: rgba(17, 17, 17, 0.48);
          }
        }
      }

      .btn {
        gap: 14px;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.2px;
        padding: 11.5px 20px;

        .arrow {
          content: url("/assets/img/events/arrow-right.svg");
          max-width: 24px;
          max-height: 24px;
        }

        &:hover {
          .arrow {
            content: url("/assets/img/events/arrow-right-blue.svg");
            max-width: 24px;
            max-height: 24px;
          }
        }
      }
    }
  }
}

@media (min-width: 1401px) and (max-width: 1919px) {

  .events {
    background-color: #FFFFFF;

    &Information {
      padding: 50px 0 150px 0;
      gap: 50px;

      &Title {
        font-size: 50px;
        font-weight: 500;
        color: #111111;
        line-height: 60px;
      }

      &Block {

        .cards {
          gap: 30px;

          .card {
            max-width: 390px;
            gap: 20px;

            &Image {
              max-width: 314.75px;
              max-height: 188px;
              border-radius: 20px;
            }

            &Title {
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              color: #111111;
            }

            &Date {
              margin-top: auto;
              font-size: 16px;
              font-weight: 400;
              line-height: 19.52px;
              color: rgba(17, 17, 17, 0.48);
            }
          }
        }

        .btn {
          gap: 14px;
          align-items: center;

        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .events {
    background-color: #FFFFFF;

    &Information {
      padding: 50px 0 150px 0;
      gap: 50px;

      &Title {
        font-size: 50px;
        font-weight: 500;
        color: #111111;
        line-height: 60px;
      }

      &Block {

        .cards {
          gap: 30px;
          grid-template-columns: repeat(3, 1fr);

          .card {
            max-width: 306.67px;
            gap: 20px;

            &Image {
              max-width: 306.67px;
              max-height: 188px;
              border-radius: 20px;
            }

            &Title {
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              color: #111111;
            }

            &Date {
              margin-top: auto;
              font-size: 16px;
              font-weight: 400;
              line-height: 19.52px;
              color: rgba(17, 17, 17, 0.48);
            }
          }

          .card:nth-of-type(n+4) {
            display: none!important;
          }
        }

        .btn {
          gap: 14px;
          align-items: center;

        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .events {
    background-color: #FFFFFF;

    &Information {
      padding: 50px 0 100px 0;
      gap: 30px;

      &Title {
        font-size: 38px;
        font-weight: 500;
        color: #111111;
        line-height: 38.4px;
      }

      &Block {

        .cards {
          gap: 30px;
          grid-template-columns: repeat(2, 1fr);

          .card {
            max-width: 260px;
            gap: 20px;

            &Image {
              max-width: 260px;
              max-height: 164px;
              border-radius: 20px;
            }

            &Title {
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              color: #111111;
            }

            &Date {
              margin-top: auto;
              font-size: 16px;
              font-weight: 400;
              line-height: 19.52px;
              color: rgba(17, 17, 17, 0.48);
            }
          }

          .card:nth-of-type(n+3) {
            display: none!important;
          }
        }

        .btn {
          gap: 14px;
          align-items: center;

        }
      }
    }
  }
}

@media (max-width: 576px) {
  .events {
    background-color: #FFFFFF;

    &Information {
      padding: 25px 0 50px 0;
      gap: 16px;

      &Title {
        font-size: 18px;
        font-weight: 500;
        color: #111111;
        line-height: 21.6px;
      }

      &Block {
        gap: 16px;

        .cards {
          gap: 30px;
          grid-template-columns: repeat(1, 1fr);

          .card {
            max-width: 300px;
            gap: 10px;

            &Image {
              max-width: 300px;
              //max-height: 164px;
              border-radius: 20px;
            }

            &Title {
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              color: #111111;
            }

            &Date {
              margin-top: auto;
              font-size: 16px;
              font-weight: 400;
              line-height: 19.52px;
              color: rgba(17, 17, 17, 0.48);
            }
          }

          .card:nth-of-type(n+2) {
            display: none!important;
          }
        }

        .btn {
          gap: 14px;
          align-items: center;
          font-size: 14px;
          font-weight: 500;
          line-height: 19.6px;
          padding: 6px 12px;

          .arrow {
            content: url("/assets/img/events/arrow-right.svg");
            max-width: 18px;
            max-height: 18px;
          }

          &:hover {
            .arrow {
              content: url("/assets/img/events/arrow-right-blue.svg");
              max-width: 18px;
              max-height: 18px;
            }
          }
        }
      }
    }
  }
}