@use '@assets/styles/vars/colors';

.adultContainer {
  padding-bottom: 75px;
  background-color: colors.$additionalColor;
}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 992px) {
  .adultContainer {
    padding-bottom: 55px;
  }
}

@media (max-width: 768px) {
  .adultContainer {
    padding-bottom: 40px;
  }
}