@use '@assets/styles/vars/colors';

.btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.36px;
  cursor: pointer;
  border: 2px solid colors.$mainColor;
  border-radius: 100px;



  //span {
  //  margin-bottom: 0;
  //  user-select: none;
  //}
  &SizeS{
    padding: 10px 18px;
    min-width: 178px;
  }
  &SizeM {
    padding: 8px 13px;
  }
  //&-dark-trnsp
  &Primary {
    background-color: colors.$mainColor;
    color: colors.$whiteColor;
    transition: background-color .3s ease, color .3s ease;

    &:hover {
      color: colors.$mainColor;
      background-color: transparent;
    }
  }
  //&-trnsp-dark
  &Outlined {
    background-color: transparent;
    color: colors.$mainColor;
    transition: color .3s ease, background-color .3s ease;

    &:hover {
      color: colors.$whiteColor;
      background-color: colors.$mainColor;
    }
  }
  //&-white-trnsp
  &Secondary {
    background-color: colors.$whiteColor;
    color: colors.$mainColor;
    border: 2px solid colors.$whiteColor;
    transition: color .3s ease, background-color .3s ease;

    &:hover {
      color: colors.$whiteColor;
      background-color: transparent;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .btn {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .btn {
    font-size: 14px;
  }
}