@use '@assets/styles/vars/colors';

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  //letter-spacing: -0.36px;
  cursor: pointer;
  border: 2px solid #2F3140;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;




  //span {
  //  margin-bottom: 0;
  //  user-select: none;
  //}
  &SizeContent {
    padding: 14px 20px;
  }
  &SizeS{
    padding: 14px 20px;
    min-width: 178px;
  }
  &SizeM {
    padding: 8px 13px;
    min-width: 156px;
    min-height: 48px;
  }
  &SizeL {
    padding: 14px 20px;
    min-width: 172px;
  }
  //&-dark-trnsp
  &Primary {
    background-color: #2F3140;
    color: colors.$whiteColor;
    transition: background-color .3s ease, color .3s ease;

    &:hover {
      color: #2F3140;
      background-color: transparent;
    }
  }
  //&-trnsp-dark
  &Outlined {
    background-color: transparent;
    color: #2F3140;
    transition: color .3s ease, background-color .3s ease;

    &:hover {
      color: colors.$whiteColor;
      background-color: #2F3140;
    }
  }
  //&-white-trnsp
  &Secondary {
    background-color: #F1F1F1;
    color: #111111;
    border: 2px solid #F1F1F1;
    transition: color .3s ease, background-color .3s ease;

    &:hover {
      color: #111111;
      background-color: transparent;
      border: 2px solid #F1F1F1;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .btn {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .btn {
    font-size: 14px;
  }
}