

.ourServices {
  background-color: #EEF0F3B2;
  //opacity: 70%;

  &Information {
    padding: 100px 0 100px 0;
    gap: 68px;

    &Title {
      color: #111111;
      font-size: 50px;
      font-weight: 500;
      line-height: 60px;

    }

    &Cards {
      gap: 30px;

      .cardWrapper {
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 30px;
        height: 230px;
        width: 390px;

        .card {
          height: 100%;
          width: 100%;
          gap: 40px;

          &Title {
            font-size: 24px;
            font-weight: 500;
            color: #111111;
          }

          &Text {
            font-size: 16px;
            font-weight: 400;
            color: #111111;
            opacity: 48%;
          }

          &Button {
            margin-top: auto;
            max-width: 128px;
          }

          &Img {
            max-height: 50px;
            max-width: 50px;
            justify-content: end;
          }
        }
      }
    }
  }
}