

.brands {
  background-color: #FFFFFF;

  &Information {
    padding: 137px 0 70px 0;
    gap: 50px;

    .head {

      &Title {
        font-size: 50px;
        font-weight: 500;
        color: #111111;
        line-height: 60px;
      }

      &Tabs {

        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 13px 20px 13px 20px;
          gap: 0;
          width: 176.67px;
          height: 48px;
          border-radius: 4px;
          background-color: #FFFFFF;
          color: #2F3140;
          border: 1px solid #2F3140;
        }

        .btn:hover {
          background-color: #2F3140;
          color: #FFFFFF;
        }
      }
    }

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 30px;

      .card {
        width: 306px;
        height: 120px;
        border-radius: 20px;
        background-color: #FAFAFA;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease .3s;

        &Logo {
          img {

          }
        }

        &:hover {
          background-color: darkgray;
        }
      }
    }
  }
}

@media (min-width: 1401px) and (max-width: 1919px) {
  .brands {

    &Information {
      padding: 140px 0 70px 0;
      gap: 50px;

      .head {

        &Title {
          font-size: 50px;
          font-weight: 500;
          color: #111111;
          line-height: 60px;
        }

        &Tabs {

          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 13px 20px 13px 20px;
            gap: 0;
            width: 176.67px;
            height: 48px;
            border-radius: 4px;
            background-color: #FFFFFF;
            color: #2F3140;
            border: 1px solid #2F3140;
          }

          .btn:hover {
            background-color: #2F3140;
            color: #FFFFFF;
          }
        }
      }

      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;

        .card {
          width: 307.5px;
          height: 120px;
          border-radius: 20px;
          background-color: #FAFAFA;
          display: flex;
          justify-content: center;
          align-items: center;

          &Logo {
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .brands {

    &Information {
      padding: 140px 0;
      gap: 50px;

      .head {
        gap: 50px;

        &Title {
          font-size: 50px;
          font-weight: 500;
          color: #111111;
          line-height: 60px;
        }

        &Tabs {

          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 13px 20px 13px 20px;
            gap: 0;
            width: 176.67px;
            height: 48px;
            border-radius: 4px;
            background-color: #FFFFFF;
            color: #2F3140;
            border: 1px solid #2F3140;
          }

          .btn:hover {
            background-color: #2F3140;
            color: #FFFFFF;
          }
        }
      }

      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        .card {
          width: 300px;
          height: 120px;
          border-radius: 20px;
          background-color: #FAFAFA;
          display: flex;
          justify-content: center;
          align-items: center;

          &Logo {
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .brands {

    &Information {
      padding: 100px 0 50px 0;
      gap: 30px;

      .head {
        gap: 30px;

        &Title {
          font-size: 32px;
          font-weight: 500;
          color: #111111;
          line-height: 38.4px;
        }

        &Tabs {

          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 13px 20px 13px 20px;
            gap: 0;
            width: 176.67px;
            height: 48px;
            border-radius: 4px;
            background-color: #FFFFFF;
            color: #2F3140;
            border: 1px solid #2F3140;
          }

          .btn:hover {
            background-color: #2F3140;
            color: #FFFFFF;
          }
        }
      }

      .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        .card {
          width: 173px;
          height: 80px;
          border-radius: 20px;
          background-color: #FAFAFA;
          display: flex;
          justify-content: center;
          align-items: center;

          &Logo {
            img {
              width: 60%;
            }
          }
        }
      }
    }
  }
}
