
.newCars {
  row-gap: 60px;

  &Filter {
    gap: 50px;

    .title {
      font-size: 50px;
      font-weight: 500;
      line-height: 60px;
      color: #111111;
    }

    &Content {
      padding: 40px;
      border-radius: 20px;
      gap: 20px;

      .leftBlock {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        row-gap: 16px;

        &Card {
          max-width: 241.75px;
          height: 164px;
          padding: 20px 30px 20px 30px;
          border-radius: 10px;

          &Image {
            max-width: 181.75px;
            height: 90px;
          }

          &Name {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: #111111;
            text-align: center;
            margin-top: auto;
          }
        }
      }

      .rightBlock {
        width: 521px;
        height: 342px;
        padding: 30px;
        border-radius: 10px;
        gap: 16px;

        &First {
          gap: 10px;

          .title {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: #111111;
          }
        }
        &Second {
          gap: 12px;

          .title {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: #111111;
          }
          
          .inputs {
            gap: 12px;

            input {
              border: 1px solid #B6B6B6;
              padding: 13px 16px 13px 16px;
              border-radius: 4px;
              max-width: 224.5px;
              height: 48px;
            }
          }
        }
      }
    }
  }

  &Cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    //padding: 10px 0 140px;
    padding-bottom: 140px;


    &Card {
      max-width: 390px;
      height: 521px;

      .image {
        max-width: 390px;
        height: 250px;
        border-radius: 20px 20px 0 0;

      }

      .information {
        padding: 20px 30px 30px 30px;
        height: 271px;

        .name {
          font-size: 24px;
          font-weight: 500;
          line-height: 31.2px;
          color: #111111;
        }
        .description {
          font-size: 16px;
          font-weight: 400;
          line-height: 19.52px;
          color: #111111;
        }
        .price {
          font-size: 32px;
          font-weight: 500;
          line-height: 38.4px;
          color: #111111;
        }
      }
    }
  }
}