

.offerCard {
  width: 530px;
  height: 500px;

  img {
    width: 530px;
    height: 500px;
    border-radius: 20px;
  }

}

@media (min-width: 1400px) and (max-width: 1650px) {
  .offerCard {
    width: 420px;
    height: 398px;

    img {
      width: 420px;
      height: 398px;
      border-radius: 20px;
    }

  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .offerCard {
    width: 306.67px;
    height: 296px;

    img {
      width: 306.67px;
      height: 296px;
      border-radius: 20px;
    }

  }
}