

.offerCard {
  width: 530px;
  height: 500px;

  img {
    width: 530px;
    height: 500px;
    border-radius: 20px;
  }

}

@media (min-width: 1401px) and (max-width: 1919px) {
  .offerCard {
    width: 420px;
    height: 398px;

    img {
      width: 420px;
      height: 398px;
      border-radius: 20px;
    }

  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .offerCard {
    width: 306.67px;
    height: 296px;

    img {
      width: 306.67px;
      height: 296px;
      border-radius: 20px;
    }

  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .offerCard {
    width: 265px;
    height: 250px;

    img {
      width: 265px;
      height: 250px;
      border-radius: 20px;
    }

  }
}

@media (max-width: 576px) {
  .offerCard {
    width: 222px;
    height: 212px;

    img {
      width: 222px;
      height: 212px;
      border-radius: 14px;
    }

  }
}