
.about {
  background-color: #FFFFFF;

  &Information {
    padding: 75px 0 50px 0;

    .firstImg {
      max-width: 620px;
      height: 430px;
      border-radius: 20px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .firstBlock {
      max-width: 814px;
      gap: 30px;
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;

      .btn {
        padding: 11.5px 20px 11.5px 20px;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.2px;
      }

      &Title {
        font-size: 50px;
        font-weight: 500;
        color: #111111;
        line-height: 60px;
      }

      &Text {
        font-size: 16px;
        font-weight: 400;
        color: #111111;
        line-height: 19.52px;
        gap: 20px;
        max-width: 590px;

        .pointGroup {
          align-items: center;
          gap: 14px;
        }
      }
    }

    .secondBlock {
      align-items: center;
      justify-content: center;
      gap: 60px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;



      &Col {
        max-width: 245px;
        gap: 10px;

        &Title {
          font-size: 50px;
          font-weight: 500;
          color: #111111;
          line-height: 60px;
        }

        &Text {
          font-size: 16px;
          font-weight: 400;
          color: #111111;
          line-height: 19.52px;
          gap: 20px;
        }
      }
    }


    .secondImg {
      max-width: 560px;
      max-height: 320px;
      border-radius: 20px;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
}

@media (min-width: 1401px) and (max-width: 1919px) {
  .about {

    &Information {
      padding: 75px 0 50px 0;
      gap: 50px;
      row-gap: 60px;

      .firstImg {
        max-width: 620px;
        height: 450px;
        border-radius: 20px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      .firstBlock {
        max-width: 650px;
        max-height: 450px;
        gap: 30px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

        &Title {
          font-size: 50px;
          font-weight: 500;
          color: #111111;
          line-height: 60px;
        }

        &Text {
          font-size: 16px;
          font-weight: 400;
          color: #111111;
          line-height: 19.52px;
          gap: 20px;
          max-width: 590px;

          .pointGroup {
            align-items: center;
            gap: 14px;
          }
        }
      }

      .secondBlock {
        align-items: center;
        gap: 60px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;



        &Col {
          max-width: 245px;
          gap: 10px;

          &Title {
            font-size: 50px;
            font-weight: 500;
            color: #111111;
            line-height: 60px;
          }

          &Text {
            font-size: 16px;
            font-weight: 400;
            color: #111111;
            line-height: 19.52px;
            gap: 20px;
          }
        }
      }


      .secondImg {
        max-width: 427px;
        max-height: 244px;
        border-radius: 20px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .about {

    &Information {
      padding: 75px 0 50px 0;
      gap: 20px;
      row-gap: 50px;

      .firstImg {
        max-width: 470px;
        max-height: 320px;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
      }

      .firstBlock {
        max-width: 960px;
        max-height: 390px;
        gap: 30px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        &Title {
          font-size: 50px;
          font-weight: 500;
          color: #111111;
          line-height: 60px;
        }

        &Text {
          font-size: 16px;
          font-weight: 400;
          color: #111111;
          line-height: 19.52px;
          gap: 20px;
          max-width: 590px;

          .pointGroup {
            align-items: center;
            gap: 14px;
          }
        }
      }

      .secondBlock {
        align-items: center;
        justify-content: space-between;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;



        &Col {
          max-width: 245px;
          gap: 10px;

          &Title {
            font-size: 50px;
            font-weight: 500;
            color: #111111;
            line-height: 60px;
          }

          &Text {
            font-size: 16px;
            font-weight: 400;
            color: #111111;
            line-height: 19.52px;
            gap: 20px;
          }
        }
      }


      .secondImg {
        max-width: 470px;
        max-height: 320px;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .about {

    &Information {
      padding: 75px 0 50px 0;
      gap: 20px;
      row-gap: 30px;

      .firstImg {
        max-width: 470px;
        max-height: 320px;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
      }

      .firstBlock {
        max-width: 960px;
        max-height: 390px;
        gap: 30px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        &Title {
          font-size: 32px;
          font-weight: 500;
          color: #111111;
          line-height: 38.4px;
        }

        &Text {
          font-size: 14px;
          font-weight: 400;
          color: #111111;
          line-height: 16.8px;
          gap: 20px;
          max-width: 590px;

          .pointGroup {
            align-items: center;
            gap: 14px;
          }
        }
      }

      .secondBlock {
        align-items: center;
        justify-content: space-between;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;



        &Col {
          max-width: 245px;
          gap: 10px;

          &Title {
            font-size: 32px;
            font-weight: 500;
            color: #111111;
            line-height: 38.4px;
          }

          &Text {
            font-size: 14px;
            font-weight: 400;
            color: #111111;
            line-height: 16.8px;
            gap: 20px;
          }
        }
      }


      .secondImg {
        max-width: 470px;
        max-height: 320px;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
      }
    }
  }
}

@media (max-width: 576px) {
  .about {

    &Information {
      padding: 25px 0 25px 0;
      gap: 20px;
      row-gap: 16px;

      .firstImg {
        max-width: 300px;
        max-height: 190px;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      .firstBlock {
        max-width: 960px;
        max-height: 390px;
        gap: 16px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        .btn {
          padding: 6px 12px 6px 12px;
          font-size: 14px;
          font-weight: 500;
          line-height: 19.6px;
        }

        &Title {
          font-size: 18px;
          font-weight: 500;
          color: #111111;
          line-height: 21.6px;
        }

        &Text {
          font-size: 12px;
          font-weight: 400;
          color: #111111;
          line-height: 15.6px;
          gap: 20px;
          max-width: 590px;

          .pointGroup {
            align-items: center;
            gap: 14px;
          }
        }
      }
    }
  }
}
