@import "bootstrap/scss/bootstrap";

* {
  outline: none;
  font-family: 'Onest', sans-serif;
}

a {
  text-decoration: none;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1650px;
  }
}

@media (min-width: 576px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 575.96px) {
  .container {
    padding: 0 10px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #2F3140;
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 14px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 14px));
  
  @media (max-width: 992px) {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
  }
}