@use '@assets/styles/vars/colors';

.filtersWrapper {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;

  .selectorWrapper {

    //.selector {
    //  padding: 10px 20px 10px 20px;
    //  border: none;
    //  border-radius: 60px;
    //
    //  &Option {
    //    padding: 10px 20px 10px 20px;
    //    border: none;
    //    border-radius: 60px;
    //    background-color: colors.$whiteColor;
    //    color: colors.$mainColor;
    //  }
    //}

    //.link {
    //  column-gap: 5px;
    //  position: relative;
    //  display: flex;
    //  align-items: center;
    //  padding: 12px 20px;
    //  font-size: 18px;
    //  font-weight: 600;
    //  line-height: 120%;
    //  letter-spacing: -0.36px;
    //  cursor: pointer;
    //  border-radius: 100px;
    //  background-color: colors.$whiteColor;
    //  border: 2px solid colors.$whiteColor;
    //  gap: 5px;
    //
    //  &::after {
    //    content: url("@assets/img/doctors/arrow-down.svg");
    //    width: 24px;
    //    height: 24px;
    //    color: colors.$mainColor;
    //  }
    //
    //  &Title {
    //    color: colors.$mainColor;
    //  }
    //
    //  //span {
    //  //  color: colors.$additionalTextColor;
    //  //  font-size: 18px;
    //  //  font-weight: 500;
    //  //  line-height: 110%;
    //  //}
    //
    //  img {
    //    width: 24px;
    //    height: 24px;
    //  }
    //
    //  &Menu {
    //    position: absolute;
    //    top: -100px;
    //    left: 50%;
    //    min-width: 352px;
    //    padding-top: 10px;
    //    transform: translate(-50%, -200%);
    //    transition: top .3s ease, transform .3s ease;
    //    pointer-events: none;
    //    z-index: 1;
    //
    //    .content {
    //      row-gap: 20px;
    //      border-radius: 30px;
    //      background-color: colors.$whiteColor;
    //      padding: 50px 40px;
    //
    //      &BigLink {
    //        span {
    //          color: colors.$mainTextColor;
    //          font-size: 32px;
    //          font-weight: 700;
    //          line-height: 120%;
    //          letter-spacing: -0.64px;
    //        }
    //      }
    //
    //      &AdditionalLinks {
    //        row-gap: 5px;
    //
    //        > div {
    //          span {
    //            color: colors.$mainColor;
    //            font-size: 20px;
    //            font-weight: 700;
    //            line-height: 110%;
    //          }
    //        }
    //      }
    //    }
    //  }
    //
    //  &:hover {
    //    .linkMenu {
    //      top: 100%;
    //      transform: translate(-50%, 0);
    //      pointer-events: auto;
    //    }
    //  }
    //}
  }

  .filtersList {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 10px;
  }

  .filtersItem {
    display: flex;
  }

  .item {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.36px;
    cursor: pointer;
    border-radius: 100px;
    background-color: colors.$whiteColor;
    color: colors.$mainColor;
    border: 2px solid colors.$whiteColor;
    transition: color .3s ease, background-color .3s ease;

    &:hover {
      color: colors.$whiteColor;
      background-color: colors.$mainColor;
    }
  }

  .active {
    color: colors.$whiteColor;
    background-color: colors.$mainColor;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  .filtersWrapper {
    display: flex;
    justify-content: space-between;


    .filtersList {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      gap: 10px;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {

  .filtersWrapper {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .selectorWrapper {
      align-self: start;

      //.link {
      //  column-gap: 5px;
      //  position: relative;
      //
      //  span {
      //    color: colors.$additionalTextColor;
      //    font-size: 18px;
      //    font-weight: 500;
      //    line-height: 110%;
      //  }
      //
      //  img {
      //    width: 24px;
      //    height: 24px;
      //  }
      //
      //  &Menu {
      //    position: absolute;
      //    top: -100px;
      //    left: 50%;
      //    min-width: 352px;
      //    padding-top: 10px;
      //    transform: translate(-50%, -200%);
      //    transition: top .3s ease, transform .3s ease;
      //    pointer-events: none;
      //    z-index: 1;
      //
      //    .content {
      //      row-gap: 20px;
      //      border-radius: 30px;
      //      background-color: colors.$whiteColor;
      //      padding: 50px 40px;
      //
      //      .selector{
      //        display: flex;
      //        align-items: center;
      //        padding: 12px 20px;
      //        font-size: 18px;
      //        font-weight: 600;
      //        line-height: 120%;
      //        letter-spacing: -0.36px;
      //        cursor: pointer;
      //        border-radius: 100px;
      //        background-color: colors.$whiteColor;
      //        color: colors.$mainColor;
      //        border: 2px solid colors.$whiteColor;
      //        gap: 5px;
      //
      //        &::after{
      //          content: url("@assets/img/header2/arr_down.svg");
      //          width: 24px;
      //          height: 24px;
      //        }
      //      }
      //
      //      &BigLink {
      //        span {
      //          color: colors.$mainTextColor;
      //          font-size: 32px;
      //          font-weight: 700;
      //          line-height: 120%;
      //          letter-spacing: -0.64px;
      //        }
      //      }
      //
      //      &AdditionalLinks {
      //        row-gap: 5px;
      //
      //        > div {
      //          span {
      //            color: colors.$mainTextColor;
      //            font-size: 20px;
      //            font-weight: 500;
      //            line-height: 110%;
      //          }
      //        }
      //      }
      //    }
      //  }
      //
      //  &:hover {
      //    .linkMenu {
      //      top: 100%;
      //      transform: translate(-50%, 0);
      //      pointer-events: auto;
      //    }
      //  }
      //}
    }

    //.selector{
    //
    //  &::after{
    //    content: url("@assets/img/header2/arr_down.svg");
    //    width: 24px;
    //    height: 24px;
    //  }
    //}

    .filtersList {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 10px;
      width: 100%;

    }

    .filtersList::-webkit-scrollbar {
      background: transparent;
    }

    .item {
      white-space: nowrap;
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .filtersWrapper {
    flex-direction: column;
    gap: 20px;

    .selectorWrapper {
    }

    .selector {
      font-size: 14px;
      justify-content: space-between;


      &::after {
        display: flex;
        align-items: center;
        content: url("@assets/img/doctors/arrow-bootom-320px.svg");
        width: 24px;
        height: 24px;
      }
    }

    .filtersList {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 10px;
      width: 100%;

    }

    .filtersList::-webkit-scrollbar {
      background: transparent;
    }


    .filtersItem {

    }

    .item {
      font-size: 14px;

      white-space: nowrap;
    }
  }


}


