

.header {
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.1);

  &Information {

    &TopLinks {
      gap: 20px;
      padding: 16px 0 0 0;

      > div {
        span {
          color: #6B6B6B;
          font-size: 14px;
          font-weight: 400;
          //line-height: 110%;
        }
      }
    }

    &Links {
      padding: 16px 0 18px 0;

      > div {

        .dropdown {
          z-index: 1000;
          position: absolute;
          top: calc(99.5%);
          left: 0;
          right: 0;
          padding: 50px 0 70px 0;
          background-color: #F4F5F7;
          opacity: 0;
          transform: translateY(-10px);
          visibility: hidden;
          transition: .3s;

          &Open {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;

            .cards {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
              gap: 20px;

              .cardWrapper {
                background-color: #FFFFFF;
                border-radius: 20px;
                padding: 30px;
                width: 210px;
                height: 220px;

                .card {

                  &Description {
                    gap: 8px;

                    &Title {
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 22.4px;
                      color: #111111;
                    }

                    &Text {
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 16.8px;
                      color: #111111;
                      opacity: 48%;
                    }
                  }

                  &Img {
                    margin-top: auto;
                    max-height: 50px;
                    max-width: 50px;
                  }
                }
              }
            }
          }
        }

        span {
          color: #000000;
          font-size: 16px;
          font-weight: 400;
          //line-height: 110%;
        }
      }

      .logo {
        img {
          max-width: 260px;
          max-height: 24px;
        }
      }

      .servicesLinks {
        gap: 20px;
        
      }

      .buttons {
        display: flex;
        gap: 20px;
        align-items: center;

        &SignUp {
          min-width: 172px;
          max-height: 48px;
        }

        &Account {
          display: flex;
          gap: 10px;
          min-width: 172px;
          max-height: 48px;

          &Icon {
            display: flex;
          }

          &Name {
            display: flex;
          }
        }

        &Burger {
          cursor: pointer;

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

.scrolled {
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.1);
  transition: ease .3s;
}

@media (min-width: 1401px) and (max-width: 1919px) {
  .header {

    &Information {

      &TopLinks {
        gap: 20px;
        padding: 16px 0 0 0;

        > div {
          span {
            color: #6B6B6B;
            font-size: 14px;
            font-weight: 400;
            //line-height: 110%;
          }
        }
      }

      &Links {
        padding: 16px 0 18px 0;

        > div {

          .dropdown {
            z-index: 1000;
            position: absolute;
            top: calc(99.5%);
            left: 0;
            right: 0;
            padding: 50px 0 70px 0;
            background-color: #F4F5F7;
            opacity: 0;
            transform: translateY(-10px);
            visibility: hidden;
            transition: .3s;

            &Open {
              transform: translateY(0);
              opacity: 1;
              visibility: visible;

              .cards {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                gap: 20px;

                .cardWrapper {
                  background-color: #FFFFFF;
                  border-radius: 20px;
                  padding: 30px;
                  width: 248px;
                  height: 220px;

                  .card {

                    &Description {
                      gap: 8px;

                      &Title {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 22.4px;
                        color: #111111;
                      }

                      &Text {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16.8px;
                        color: #111111;
                        opacity: 48%;
                      }
                    }

                    &Img {
                      margin-top: auto;
                      max-height: 50px;
                      max-width: 50px;
                    }
                  }
                }
              }
            }
          }

          span {
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            //line-height: 110%;
          }
        }

        .servicesLinks {
          gap: 20px;

        }

        .buttons {
          display: flex;
          gap: 10px;

          &SignUp {
            min-width: 141px;
            max-height: 48px;
            padding: 11.5px 20px 11.5px 20px;
          }

          &Account {
            display: flex;
            gap: 10px;
            min-width: 48px;
            max-height: 48px;
            padding: 12px;

            &Icon {
              display: flex;
            }

            &Name {
              display: none;
              align-items: start;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .header {

    &Information {

      &TopLinks {
        gap: 20px;
        padding: 16px 0 0 0;

        > div {
          span {
            color: #6B6B6B;
            font-size: 14px;
            font-weight: 400;
            //line-height: 110%;
          }
        }
      }

      &Links {
        padding: 16px 0 18px 0;

        > div {

          .dropdown {
            z-index: 1000;
            position: absolute;
            top: calc(99.5%);
            left: 0;
            right: 0;
            padding: 50px 0 70px 0;
            background-color: #F4F5F7;
            opacity: 0;
            transform: translateY(-10px);
            visibility: hidden;
            transition: .3s;

            &Open {
              transform: translateY(0);
              opacity: 1;
              visibility: visible;

              .cards {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 20px;

                .cardWrapper {
                  background-color: #FFFFFF;
                  border-radius: 20px;
                  padding: 30px;
                  width: 210px;
                  height: 220px;

                  .card {

                    &Description {
                      gap: 8px;

                      &Title {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 22.4px;
                        color: #111111;
                      }

                      &Text {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16.8px;
                        color: #111111;
                        opacity: 48%;
                      }
                    }

                    &Img {
                      margin-top: auto;
                      max-height: 50px;
                      max-width: 50px;
                    }
                  }
                }
              }
            }
          }

          span {
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            //line-height: 110%;
          }
        }

        .logo {
          img {
            max-width: 224px;
            max-height: 20px;
          }
        }

        .servicesLinks {
          gap: 20px;

        }

        .buttons {
          display: flex;
          gap: 10px;

          &SignUp {
            min-width: 141px;
            max-height: 48px;
            padding: 11.5px 20px 11.5px 20px;
          }

          &Account {
            display: flex;
            gap: 10px;
            min-width: 48px;
            max-height: 48px;
            padding: 12px;

            &Icon {
              display: flex;
            }

            &Name {
              display: none;
              align-items: start;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .header {

    &Information {

      &Links {
        padding: 12px 18px 12px 18px;
        max-height: 64px;

        > div {

          .dropdown {
            z-index: 1000;
            position: absolute;
            top: calc(99.5%);
            left: 0;
            right: 0;
            padding: 50px 0 70px 0;
            background-color: #F4F5F7;
            opacity: 0;
            transform: translateY(-10px);
            visibility: hidden;
            transition: .3s;

            &Open {
              transform: translateY(0);
              opacity: 1;
              visibility: visible;

              .cards {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 20px;

                .cardWrapper {
                  background-color: #FFFFFF;
                  border-radius: 20px;
                  padding: 30px;
                  width: 210px;
                  height: 220px;

                  .card {

                    &Description {
                      gap: 8px;

                      &Title {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 22.4px;
                        color: #111111;
                      }

                      &Text {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16.8px;
                        color: #111111;
                        opacity: 48%;
                      }
                    }

                    &Img {
                      margin-top: auto;
                      max-height: 50px;
                      max-width: 50px;
                    }
                  }
                }
              }
            }
          }

          span {
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            //line-height: 110%;
          }
        }

        .logo {
          img {
            max-width: 200px;
            max-height: 18px;
          }
        }

        .servicesLinks {
          gap: 20px;

        }

        .buttons {
          display: flex;
          gap: 10px;

          &SignUp {
            min-width: 141px;
            max-height: 48px;
            padding: 11.5px 20px 11.5px 20px;
          }

          &Account {
            display: flex;
            gap: 10px;
            min-width: 48px;
            max-height: 48px;
            padding: 12px;

            &Icon {
              display: flex;
            }

            &Name {
              display: none;
              align-items: start;
            }
          }
        }
      }
    }
  }
}