

.header {
  background-color: #ffffff;
  margin: 0 135px;

  &TopLinks {
    background-color: blue;
    align-self: end;
    gap: 20px;
    padding: 16px 0 0 0;
  }

  &Links {
    background-color: pink;
    padding: 16px 0 18px 0;
  }
}