
.question {

  &Information {
    margin: 75px 0 76px 0;
    background-color: rgba(238, 240, 243, 0.7);
    border-radius: 20px;
    padding: 90px 160px 90px 160px;
    gap: 75px;
    row-gap: 38px;


    &Text {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      max-width: 667px;
      gap: 30px;

      .yourQuestion {
        gap: 20px;

        .title {
          font-size: 50px;
          font-weight: 500;
          line-height: 60px;
          color: #111111;
        }

        .text {
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          color: #111111;
        }
      }

      .socialNetwork {
        gap: 20px;

        .secondTitle {
          font-size: 24px;
          font-weight: 500;
          line-height: 31.2px;
          color: #111111;
        }

        .btns {
          gap: 20px;

          .btn {
            gap: 10px;
            background-color: #FFFFFF;
            padding: 12px 16px 12px 16px;
            border-radius: 4px;

            p {
              font-size: 16px;
              font-weight: 500;
              line-height: 22.4px;
              color: #111111;
            }
          }
        }
      }
    }

    .image {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      max-width: 667px;
    }

    &Modal {
      max-width: 588px;
      padding: 40px 60px 40px 60px;
      border-radius: 20px;
      background-color: #FFFFFF;
      gap: 20px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 4;

      &Block1 {
        gap: 16px;

        .theme {
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          color: #111111;
        }

        .tabs {
          max-width: 468px;
        }
      }

      &Block2 {
        gap: 16px;

        .input {
          padding: 15px 16px 15px 10px;
          background: #FFFFFF;
          border-radius: 4px;
          border: 1px solid #6B6B6B;
          font-weight: 400;
          font-size: 18px;
          line-height: 19.52px;
          width: 100%;
          color: #6B6B6B;

          &::placeholder {
            color: #6B6B6B;
          }
        }

        .combobox {
        }
      }

      &Block3 {
        gap: 12px;

        .policy {
          font-size: 14px;
          font-weight: 400;
          line-height: 16.8px;
          color: rgba(17, 17, 17, 0.48);
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 1400px) and (max-width: 1650px) {
  .question {

    &Information {
      margin: 75px 0 76px 0;
      background-color: rgba(238, 240, 243, 0.7);
      border-radius: 20px;
      padding: 70px;
      //gap: 75px;

      &Text {
        max-width: 557px;
        gap: 38px;

        .yourQuestion {
          gap: 20px;

          .title {
            font-size: 50px;
            font-weight: 500;
            line-height: 60px;
            color: #111111;
          }

          .text {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            color: #111111;
          }
        }

        .socialNetwork {
          gap: 20px;

          .secondTitle {
            font-size: 24px;
            font-weight: 500;
            line-height: 31.2px;
            color: #111111;
          }
        }
      }

      .image {
        max-width: 557px;
      }

      &Modal {
        max-width: 548px;
        padding: 40px 60px 40px 60px;
        border-radius: 20px;
        background-color: #FFFFFF;
        gap: 20px;

        &Block1 {
          gap: 16px;

          .theme {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            color: #111111;
          }

          .tabs {
            max-width: 428px;
          }
        }

        &Block2 {
          gap: 16px;

          .input {
            padding: 15px 16px 15px 10px;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid #6B6B6B;
            font-weight: 400;
            font-size: 18px;
            line-height: 19.52px;
            width: 100%;
            color: #6B6B6B;

            &::placeholder {
              color: #6B6B6B;
            }
          }

          .combobox {

          }
        }

        &Block3 {
          gap: 12px;

          .policy {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            color: rgba(17, 17, 17, 0.48);
            text-align: center;
          }
        }
      }
    }
  }
}

@media (min-width: 993px) and (max-width: 1400px) {
  .question {

    &Information {
      margin: 75px 0 76px 0;
      background-color: rgba(238, 240, 243, 0.7);
      border-radius: 20px;
      padding: 60px 40px 60px 40px;
      gap: 35px;
      row-gap: 77px;

      &Text {
        max-width: 445px;
        gap: 20px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;

        .yourQuestion {
          gap: 20px;

          .title {
            font-size: 40px;
            font-weight: 500;
            line-height: 48px;
            color: #111111;
          }

          .text {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.52px;
            color: #111111;
          }
        }

        .socialNetwork {
          gap: 20px;

          .secondTitle {
            font-size: 24px;
            font-weight: 500;
            line-height: 31.2px;
            color: #111111;
          }

          .btns {
            gap: 10px;

            .btn {
              gap: 10px;
              background-color: #FFFFFF;
              padding: 12px 13px 12px 13px;
              border-radius: 4px;

              p {
                font-size: 16px;
                font-weight: 500;
                line-height: 22.4px;
                color: #111111;
              }
            }
          }
        }

        //.image {
        //  margin-top: auto;
        //}
      }

      .image {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        max-width: 445px;
      }

      &Modal {
        max-width: 548px;
        padding: 40px 60px 40px 60px;
        border-radius: 20px;
        background-color: #FFFFFF;
        gap: 20px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;

        &Block1 {
          gap: 16px;

          .theme {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            color: #111111;
          }

          .tabs {
            max-width: 428px;
          }
        }

        &Block2 {
          gap: 16px;

          .input {
            padding: 15px 16px 15px 10px;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid #6B6B6B;
            font-weight: 400;
            font-size: 18px;
            line-height: 19.52px;
            width: 100%;
            color: #6B6B6B;

            &::placeholder {
              color: #6B6B6B;
            }
          }

          .combobox {

          }
        }

        &Block3 {
          gap: 12px;

          .policy {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            color: rgba(17, 17, 17, 0.48);
            text-align: center;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .question {

    &Information {
      margin: 50px 0 50px 0;
      background-color: rgba(238, 240, 243, 0.7);
      border-radius: 20px;
      padding: 50px 30px 50px 30px;
      gap: 30px;

      &Text {
        max-width: 445px;
        gap: 20px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        .yourQuestion {
          gap: 20px;

          .title {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.4px;
            color: #111111;
          }

          .text {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            color: #111111;
          }
        }

        .socialNetwork {
          gap: 20px;

          .secondTitle {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #111111;
          }

          .btns {
            gap: 10px;

            .btn {
              gap: 10px;
              background-color: #FFFFFF;
              padding: 12px 13px 12px 13px;
              border-radius: 4px;

              p {
                font-size: 16px;
                font-weight: 500;
                line-height: 22.4px;
                color: #111111;
              }
            }
          }
        }
      }

      .image {
        margin-top: auto;
        max-width: 480px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
      }

      &Modal {
        max-width: 480px;
        padding: 30px;
        border-radius: 20px;
        background-color: #FFFFFF;
        gap: 20px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        .image {
          margin-top: auto;
          width: 480px;
        }

        &Block1 {
          gap: 16px;

          .theme {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            color: #111111;
          }

          .tabs {
            max-width: 428px;
          }
        }

        &Block2 {
          gap: 16px;

          .input {
            padding: 15px 16px 15px 10px;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid #6B6B6B;
            font-weight: 400;
            font-size: 18px;
            line-height: 19.52px;
            width: 100%;
            color: #6B6B6B;

            &::placeholder {
              color: #6B6B6B;
            }
          }

          .combobox {

          }
        }

        &Block3 {
          gap: 12px;

          .policy {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            color: rgba(17, 17, 17, 0.48);
            text-align: center;
          }
        }
      }
    }
  }
}