
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 3s;
  z-index: 200;

  &Wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;


    &Content {
      position: relative;
      width: 300px;
      //height: 286px;
      border-radius: 14px;
      padding: 20px;
      background-color: #FFFFFF;
      row-gap: 16px;
      transform: translateY(-50px);
      transition: opacity 0.3s, transform 0.3s ease;

      &Header {
        position: relative;

        &Title {
          font-size: 18px;
          font-weight: 500;
          line-height: 21.6px;
          color: #111111;
        }
        img {
          position: absolute;
          top: -10px;
          right: -10px;
          width: 26px;
          height: 26px;
        }
      }

      &Inputs {
        row-gap: 10px;

        .input {
          width: 260px;
          height: 32px;
          padding: 10px;
          border-radius: 4px;
          border: 1px solid #B6B6B6;
        }

        .combobox {
          z-index: 201;
        }
      }

      &Group {
        row-gap: 12px;

        .btn {
          padding: 6px 12px 6px 12px;
          font-size: 14px;
          font-weight: 500;
          line-height: 19.6px;
        }

        .policy {
          font-size: 12px;
          font-weight: 400;
          line-height: 15.6px;
          color: rgba(17, 17, 17, 0.48);
          text-align: center;

          .link {
            font-size: 12px;
            font-weight: 400;
            line-height: 15.6px;
            color: rgba(17, 17, 17, 0.48);
            text-align: center;
            text-decoration-line: underline;
          }
        }
      }
    }
  }
}

.signUp {
  padding: 70px 0 140px 0;

  &Information {
    //margin: 0 140px;
    background-color: #2F3140;
    border-radius: 20px;
    padding: 70px 160px;
    gap: 40px;

    &Modal {
      padding: 40px 60px;
      border-radius: 20px;
      background-color: #FFFFFF;
      width: 645px;
      height: 545px;
      gap: 20px;

      &Block1 {
        gap: 20px;

        h3 {
          font-size: 40px;
          font-weight: 500;
          line-height: 48px;
        }

        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
        }
      }

      &Block2 {
        gap: 16px;

        .input {
          padding: 15px 16px 15px 10px;
          background: #FFFFFF;
          border-radius: 4px;
          border: 1px solid #6B6B6B;
          font-weight: 400;
          font-size: 18px;
          line-height: 19.52px;
          width: 100%;
          height: 48px;
          color: #6B6B6B;

          &::placeholder {
            color: #6B6B6B;
          }
        }
      }

      &Block3 {
        gap: 12px;

        .btn {
          font-size: 18px;
          font-weight: 500;
          line-height: 25.2px;
          padding: 9.5px 20px;
        }

        .policy {
          font-size: 14px;
          font-weight: 400;
          line-height: 16.8px;
          color: rgba(17, 17, 17, 0.48);
          text-align: center;

          .link {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            color: rgba(17, 17, 17, 0.48);
            text-align: center;
            text-decoration-line: underline;
          }
        }
      }
    }

    img {
      border-radius: 20px;
      width: 645px;
      height: 545px;
      object-fit: cover;
    }
  }
}

@media (min-width: 1400px) and (max-width: 1920px) {
  .signUp {

    &Information {
      //margin: 0 140px;
      border-radius: 20px;
      padding: 50px 50px;
      gap: 40px;

      &Modal {
        padding: 40px 60px;
        border-radius: 20px;
        background-color: #FFFFFF;
        width: 590px;
        height: 562px;
        gap: 20px;

        &Block1 {
          gap: 20px;

          h3 {
            font-size: 40px;
            font-weight: 500;
            line-height: 48px;
          }

          p {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
          }
        }

        &Block2 {
          gap: 16px;

          .input {
            padding: 15px 16px 15px 10px;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid #6B6B6B;
            font-weight: 400;
            font-size: 18px;
            line-height: 19.52px;
            width: 100%;
            color: #6B6B6B;

            &::placeholder {
              color: #6B6B6B;
            }
          }
        }

        &Block3 {
          gap: 12px;

          .policy {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            color: rgba(17, 17, 17, 0.48);
            text-align: center;

            .link {
              font-size: 14px;
              font-weight: 400;
              line-height: 16.8px;
              color: rgba(17, 17, 17, 0.48);
              text-align: center;
              text-decoration-line: underline;
            }
          }
        }
      }

      img {
        border-radius: 20px;
        width: 590px;
        height: 562px;
        object-fit: cover;
      }
    }
  }

}

@media (min-width: 992px) and (max-width: 1400px) {
  .signUp {

    &Information {
      //margin: 0 140px;
      border-radius: 20px;
      padding: 50px 30px;
      gap: 30px;

      &Modal {
        padding: 30px 30px;
        border-radius: 20px;
        background-color: #FFFFFF;
        width: 590px;
        height: 508px;
        gap: 20px;

        &Block1 {
          gap: 20px;

          h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.4px;
          }

          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.52px;
          }
        }

        &Block2 {
          gap: 16px;

          .input {
            padding: 15px 16px 15px 10px;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid #6B6B6B;
            font-weight: 400;
            font-size: 18px;
            line-height: 19.52px;
            width: 100%;
            color: #6B6B6B;

            &::placeholder {
              color: #6B6B6B;
            }
          }
        }

        &Block3 {
          gap: 12px;

          .policy {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            color: rgba(17, 17, 17, 0.48);
            text-align: center;

            .link {
              font-size: 14px;
              font-weight: 400;
              line-height: 16.8px;
              color: rgba(17, 17, 17, 0.48);
              text-align: center;
              text-decoration-line: underline;
            }
          }
        }
      }

      img {
        border-radius: 20px;
        width: 435px;
        height: 508px;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {

  .signUp {
    padding: 50px 0 100px 0;

    &Information {
      //margin: 0 140px;
      border-radius: 20px;
      padding: 40px 30px;
      gap: 30px;

      &Modal {
        padding: 30px 30px;
        border-radius: 20px;
        background-color: #FFFFFF;
        width: 480px;
        height: 508px;
        gap: 20px;

        &Block1 {
          gap: 20px;

          h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.4px;
          }

          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.52px;
          }
        }

        &Block2 {
          gap: 16px;

          .input {
            padding: 15px 16px 15px 10px;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid #6B6B6B;
            font-weight: 400;
            font-size: 18px;
            line-height: 19.52px;
            width: 100%;
            color: #6B6B6B;

            &::placeholder {
              color: #6B6B6B;
            }
          }
        }

        &Block3 {
          gap: 12px;

          .policy {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            color: rgba(17, 17, 17, 0.48);
            text-align: center;

            .link {
              font-size: 14px;
              font-weight: 400;
              line-height: 16.8px;
              color: rgba(17, 17, 17, 0.48);
              text-align: center;
              text-decoration-line: underline;
            }
          }
        }
      }

      img {
        border-radius: 20px;
        width: 480px;
        height: 312px;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 576px) {

  .signUp {
    padding: 25px 0 30px 0;

    &Information {
      //margin: 0 140px;
      border-radius: 20px;
      background-color: rgba(238, 240, 243, 0.7);
      padding: 30px 20px;
      gap: 73px;
      width: 300px;
      height: 400px;

      &Modal {
        padding: 0;
        border-radius: 20px;
        background-color: rgba(238, 240, 243, 0.7);
        width: 260px;
        height: 86px;
        gap: 20px;

        &Block1 {
          gap: 10px;

          h3 {
            font-size: 18px;
            font-weight: 500;
            line-height: 21.6px;
            width: 200px;
          }

          p {
            font-size: 12px;
            font-weight: 400;
            line-height: 15.6px;
          }
        }

        &Block2 {
          gap: 16px;

          .input {
            padding: 15px 16px 15px 10px;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid #6B6B6B;
            font-weight: 400;
            font-size: 18px;
            line-height: 19.52px;
            width: 100%;
            color: #6B6B6B;

            &::placeholder {
              color: #6B6B6B;
            }
          }
        }

        &Block3 {
          gap: 12px;

          .btn {
            font-size: 14px;
            font-weight: 500;
            line-height: 19.6px;
            padding: 6px 12px;
          }

          .policy {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            color: rgba(17, 17, 17, 0.48);
            text-align: center;

            .link {
              font-size: 14px;
              font-weight: 400;
              line-height: 16.8px;
              color: rgba(17, 17, 17, 0.48);
              text-align: center;
              text-decoration-line: underline;
            }
          }
        }
      }

      img {
        border-radius: 14px;
        width: 260px;
        height: 182px;
        object-fit: cover;
      }
    }
  }
}