

.bannerWrapper {
  padding: 39px 0 140px 0;

  .banner {
    border-radius: 20px;
    max-width: 1650px;
    height: 450px;
    object-fit: cover;
  }
}

@media (min-width: 1401px) and (max-width: 1919px) {
  .bannerWrapper {

    .banner {
      border-radius: 20px;
      max-width: 1320px;
      height: 360px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .bannerWrapper {
    padding: 39px 0 100px 0;

    .banner {
      border-radius: 20px;
      max-width: 960px;
      height: 306px;
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .bannerWrapper {
    padding: 39px 0 100px 0;

    .banner {
      border-radius: 20px;
      max-width: 540px;
      height: 274px;
    }
  }
}

@media (max-width: 576px) {
  .bannerWrapper {
    padding: 21px 0 50px 0;

    .banner {
      border-radius: 20px;
      max-width: 300px;
      height: 154px;
    }
  }
}